body {
    max-width: 1800px;
    font-family: "Poppins", sans-serif;
}

.hero {
    background-image: linear-gradient(rgba(40, 42, 54, 0.5), rgba(40, 42, 54, 0.7)), url("/images/Header-meidan\ naghshe\ jahan.jpeg");
    filter: saturate(1.2) hue-rotate(10deg) brightness(1.05);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    font-family: poppins;
    text-align: center;
    color: white;
}

.hero img {
    position: relative;
        top: -50px;
    width: 100px;
    filter: sepia(0.8) saturate(1.4) hue-rotate(350deg) brightness(0.8);

}

.hero h3 {
    font-size: 25px;
    letter-spacing: 5px;
    margin: 0;
    line-height: 3;
}

.hero h1 {
    font-size: 80px;
    margin: 0;
    line-height: 3;
}

.hero h2 {
    font-size: 45px;
    margin: 0;
    word-spacing: 5px;
}

.hero .btn {
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 40px;
    transition: all 500ms ease-in;
    letter-spacing: 1px;

}

.hero .btn:hover {
    background-color: #654321;
    color: white;
}

.grid-3-columns {
    background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)), url("/images/Footer-Khaju\ Bridge\ in\ Isfahan\,\ Iran.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    padding: 100px 150px;


}

.grid-3-columns h4 {
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 0;
    line-height: 1.5;
    word-spacing: 1px;
}

.grid-3-columns .about-city a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(246, 238, 250);
    font-size: 20px;
    margin: 0;
    line-height: 3;
    text-decoration: none;
}

p {
    text-align: justify;
    font-size: 20px;
    color: rgb(246, 238, 250);
}

a {
    color: rgb(246, 238, 250);
}
@media(max-width:980px) {
    .hero {
        padding: 80px 0;
    }

    .hero img {
        width: 80px;
    }

    .hero h3 {
        font-size: 15px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero h2 {
        font-size: 20px;
    }
.grid-3-columns {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 50px 20px;
}

.grid-3-columns h4 {
    font-size: 20px;
}

.grid-3-columns .about-city a,
p {
    font-size: 15px;
}
}