:root {
    --text-color: #67627C;
    --second-text-color: #C4C2CB;
}
body {
    max-width: 1800px;
    font-family: "Poppins", sans-serif;
}

.hero {
    position: relative;
        min-height: 100vh;
    
        background-image: linear-gradient(rgba(40, 42, 54, 0.5),
                rgba(40, 42, 54, 0.7)),
            url("/images/Header-meidan\ naghshe\ jahan.jpeg");
    filter: saturate(1.2) hue-rotate(10deg) brightness(1.05);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Poppins;
    text-align: center;
    color: white;
    padding: 50px 50px;
}

.hero img {
    position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
    width: 100px;
}

.hero h3 {
    position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
    font-size: 25px;
    letter-spacing: 5px;
    margin: 0;
    white-space: nowrap;
}

.hero h1 {
    position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
    font-size: 80px;
    margin: 0;
    white-space: nowrap;
}

.hero h2 {
    position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
    font-size: 45px;
    margin: 0;
    white-space: nowrap;
}

.hero .btn {
    position: absolute;
        top: 88%;
        left: 50%;
        transform: translateX(-50%);
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 500ms ease-in;
}

.hero .btn:hover {
    background-color: #654321;
    color: white;
}
.grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 100px;
    gap: 50px;

}

.grid-2-columns img {
    max-width: 100%;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 5s ease-in-out;
}

.grid-2-columns h5 {
    font-size: 16px;
    color: gray;
    letter-spacing: 3px;

}

.grid-2-columns h2 {
    font-family: poppins;
    font-size: 20px;
}

p {
    text-align: justify;
    color: var(--text-color);
}
.grid-3-columns {
    background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)), url("/images/Footer-Khaju\ Bridge\ in\ Isfahan\,\ Iran.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    padding: 100px 150px;


}

.grid-3-columns h4 {
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 0;
    line-height: 1.5;
    word-spacing: 1px;
}

.grid-3-columns .about-city a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--second-text-color);
        font-size: 16px;
    margin: 0;
    line-height: 3;
    text-decoration: none;
}

.grid-3-columns p {
    text-align: justify;
    font-size: 16px;
        color: var(--second-text-color);
}

.grid-3-columns a {
    color: var(--second-text-color);
}
@media(max-width:900px) {
    .hero {
        padding: 80px 0;
    }

    .hero img {
        width: 80px;
    }

    .hero h3 {
        font-size: 15px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero h2 {
        font-size: 20px;
        top: 50%;
        }
        
        .grid-2-columns h2 {
            font-size: 18px;
        }
        
        .grid-2-columns {
            grid-template-columns: 1fr;
            padding: 30px 50px;
            gap: 20px;
}
.grid-3-columns {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 50px 20px;
}


}