:root {
    --text-color: #67627C;
    --second-text-color: #C4C2CB;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.container {
    max-width: 1800px;
    margin: 0 auto;
}
/***HEADER***/
.hero {
    position: relative;
        min-height: 100vh;
    
        background-image: linear-gradient(rgba(40, 42, 54, 0.5),
                rgba(40, 42, 54, 0.7)),
            url("/images/Header-meidan\ naghshe\ jahan.jpeg");
    filter: saturate(1.2) hue-rotate(10deg) brightness(1.05);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Poppins;
    text-align: center;
    color: white;
    padding: 50px 50px;
}

.hero img {
    position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
    width: 100px;
}

.hero h3 {
    position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
    font-size: 25px;
    letter-spacing: 5px;
    margin: 0;
    white-space: nowrap;
}

.hero h1 {
    position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
    font-size: 80px;
    margin: 0;
    white-space: nowrap;
}

.hero h2 {
    position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
    font-size: 45px;
    margin: 0;
    white-space: nowrap;
}

.hero .btn {
    position: absolute;
        top: 88%;
        left: 50%;
        transform: translateX(-50%);
    display: inline-block;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 1.2s ease-in;
}

.hero .btn:hover {
    background-color: #654321;
    color: white;
}
/***SECTION ONE ABOUT***/
.grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 100px;
    gap: 50px;

}

.grid-2-columns img {
    max-width: 100%;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 5s ease-in-out;
}

.grid-2-columns h5 {
    font-size: 16px;
    color: gray;
    letter-spacing: 3px;

}

.grid-2-columns h2 {
    font-family: poppins;
    font-size: 20px;
}

p {
    text-align: justify;
    color: var(--text-color);
}
/***SECTION TWO PLACES***/

.favorite-places {
    padding: 50px 40px;
    background-color: #f5f5f7;
    }
    
.header h1 {
        text-align: center;

        word-spacing: 3px;
}
    
.header h3 {
        color: #605d6c;
        letter-spacing: 5px;
        text-align: center;
        text-transform: uppercase;
    }
    
    .favorite-places .header h1 {
        word-spacing: 5px;
        text-align: center;
}

.grid-3-columns-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;

}

.card-restaurant {
    background-color: white;
}
.card-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}

.card-body {
    padding: 25px;
}

.card-header-grid-2-columns img {
    width: 49%;
    height: 150px;
    border-radius: 0;
    object-fit: cover;
}

.embeded {
    width: 49%;
    height: 150px;
}

.footer .btn {
display: block;
    background-color: #654321;
    color: rgb(252, 251, 251);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}
.footer .btn:hover {
    background-color: white;
    color: #654321;
    border: solid 1px #654321;
}

/*** SECTION THREE GALLERY***/
.gallery {
    padding: 50px 0;
}

.grid-3-columns-2-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px 30px;
}

.grid-3-columns-2-rows img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
/***FOOTER***/
.grid-3-columns {
    background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)), url("/images/Footer-Khaju\ Bridge\ in\ Isfahan\,\ Iran.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    padding: 100px 150px;


}

.grid-3-columns h4 {
    text-align: center;
    font-size: 20px;
    color: white;
    margin: 0;
    line-height: 1.5;
    word-spacing: 1px;
}

.grid-3-columns .about-city a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--second-text-color);
        font-size: 16px;
    margin: 0;
    line-height: 3;
    text-decoration: none;
}

.grid-3-columns p {
    text-align: justify;
    font-size: 16px;
        color: var(--second-text-color);
}

.grid-3-columns a {
    color: var(--second-text-color);
}

@media (max-width:960px) {
.hero {
        padding: 80px 0;
}

.hero img {
        width: 20%;
        }

.hero h3 {
        font-size: 15px;
}

.hero h1 {
        font-size: 40px;
}

.hero h2 {
        font-size: 20px;
        top: 50%;
}

.grid-2-columns {
        grid-template-columns: 1fr;
        padding: 30px 50px;
        gap: 20px;
}
.grid-2-columns h2 {
        font-size: 15px;
        font-weight: 900;
}
.favorite-places .header h1 {
    font-size: 20px;
}
.card-header-grid-2-columns img {
    display: none;
}
.embeded {
    width: 100%;
    height: 100%;
}
.grid-3-columns-2-rows {
    grid-template-columns: 1fr;
}

.grid-3-columns {
    grid-template-columns: 1fr;
    gap: 15px;
        padding: 50px;
        }
        
.grid-3-columns-card {
    grid-template-columns: 1fr;
}
}